body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
	margin:0;
	padding:0
}
body {
	font:12px/1.7 Tahoma,\5B8B\4F53;
	-webkit-text-size-adjust:none
}
h1,h2,h3,h4,h5,h6 {
	*font-size:100%;
}
fieldset,img {
	border:0
}
address,caption,cite,code,dfn,em,i,strong,th,var {
	font-style:normal;
	font-weight:normal
}
ol,ul,li {
	list-style:none outside
}
blockquote:before,blockquote:after,q:before,q:after {
	content:''
}
table {
	border-collapse:collapse;
	border-spacing:0
}
caption,th {
	text-align:left
}
input,textarea,select,button {
	font-family:inherit;
	font-size:inherit;
	*font-size:100%;
	font-weight:inherit;
	resize:none
}
button {
	cursor:pointer
}
:focus {
	outline:0
}
a {
	text-decoration:none
}
a:hover {
	text-decoration:none
}
.clr {
	*zoom:1
}
.clr:before,.clr:after {
	content:"";
	display:table
}
.clr:after {
	clear:both
}
.twidth {
	position:absolute;
	z-index:99;
	top:0;
	left:0;
	width:100%;
	height:65px;
	border-top:#2785da solid 2px;
	border-bottom:#d9d9d9 solid 1px;
	background:#f6f6f6
}
.twidth .topbar {
	width:960px;
	margin:0 auto
}
.twidth .topbar span {
	position:relative;
	float:left;
	margin:20px 25px 0 0;
	z-index:2
}
.twidth .topbar span a {
	color:#666
}
.twidth .topbar span i {
	display:inline-block;
	float:left;
	width:16px;
	height:14px;
	margin:3px 5px 0 0;
	background:url(../images/index-sprite.png);
	overflow:hidden
}
.twidth .topbar span i.homei {
	background-position:-24px 0
}
.twidth .topbar span i.chaneli {
	width:14px;
	height:13px;
	margin-top:4px;
	background-position:-40px 0
}
.twidth .topbar .header_pinBox {
	float:left;
	position:relative;
	z-index:9
}
.twidth .topbar .header_pinBox .header_pin {
	position:relative;
	display:inline-block;
	margin-top:20px;
	padding-left:20px;
	background:url(../images/chaneli.png) 0 5px no-repeat;
	z-index:111;
	color:#666
}
.twidth .topbar .header_pinC {
	position:absolute;
	top:0;
	left:-13px;
	z-index:99;
}
.twidth .topbar .pinC_t {
	border-top:2px solid #2785da;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	background:#fff;
	display:block;
	width:72px;
	height:58px;
	position:relative;
	box-shadow:0 -4px 8px #ccc
}
.twidth .topbar .pinC_m {
	border:1px solid #ddd;
	width:216px;
	background:#fff;
	padding-left:5px;
	padding-bottom:10px;
	margin-top:-1px;
	box-shadow:0 0 8px #ccc
}
.twidth .topbar .pinC_m h5 {
	font-size:12px;
	font-weight:700;
	color:#666;
	padding-left:9px;
	line-height:40px
}
.twidth .topbar .pinC_m a {
	color:#666;
	text-decoration:none;
	margin:0 10px;
	font-size:12px;
	line-height:20px
}
.twidth .topbar .pinC_m a:hover {
	text-decoration:underline
}
.twidth .topbar .pinC_l {
	width:195px;
	height:1px;
	background:#d9d9d9;
	margin:0 auto;
	clear:both;
	overflow:hidden;
	margin-top:10px
}
.twidth .topbar .btnlist {
	position:relative;
	float:left;
	margin:12px 65px 0 25px;
	_margin-right:45px;
	z-index:99;
	_display:inline;
}
.twidth .topbar .btnlist a {
	display:inline-block;
	width:87px;
	height:35px;
	line-height:35px;
	background:url(../images/index-sprite.png) 0 -27px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	overflow:hidden
}
.twidth .topbar .mobile {
	float:right;
	color:#666;
}
.twidth .topbar .mobile span {
	margin-right:0
}
.twidth .topbar .mobile dl {
	float:left;
	width:100px;
	_display:inline;
}
.twidth .topbar .mobile dt {
	float:left;
	margin:10px 5px 0 0;
	_display:inline;
}
.twidth .topbar .mobile dd {
	float:left;
	margin:18px 5px 0 0
}
.twidth .topbar .mobile dd a {
	width:auto;
	margin-top:0
}
.twidth .topbar .mobile a {
	display:inline-block;
	margin-top:18px;
	color:#666
}
.nav {
	position: absolute;
	width: 960px;
	z-index: 88;
	top: 90px;
	left: 50%;
	margin-left: -450px;
}
.nav .logo {
	float:left;
	margin-right:10px
}
.nav .city {
	position:relative;
	float:left;
	margin-right:60px
}
.nav .city span {
	display:block;
	font-size:18px;
	color:#333;
	font-weight:bold;
	font-family:"\5FAE\8F6F\96C5\9ED1"
}
.nav .city a {
	color:#2887db;
	text-align:center
}
.nav .city .citylist {
	position:absolute;
	left:0;
	top:50px;
	width:350px;
	height:350px;
	padding:15px 10px;
	border:#929faf solid 1px;
	background:#fff;
	z-index:99
}
.nav .city .citylist .close {
	position:absolute;
	right:10px;
	top:10px;
	display:inline-block;
	width:8px;
	height:7px;
	background:url(../images/close.png) 0 0 no-repeat
}
.nav .city .citylist h6 {
	font-size:12px;
	color:#204b6b
}
.nav .city .citylist .list {
	margin-top:5px
}
.nav .city .citylist .list a {
	margin-right:5px;
	color:#204b6b
}
.nav .city .citylist .tab {
	margin-top:10px
}
.nav .city .citylist .tab a {
	display:inline-block;
	width:56px;
	height:20px;
	line-height:20px;
	border:#929faf solid 1px;
	color:#5b71a0
}
.nav .city .citylist .tab .cur {
	background:#658ad1;
	color:#fff
}
.nav .city .citylist .scroll {
	position:relative;
	width:350px;
	height:265px;
	margin-top:15px;
	border-top:#e7ebee solid 1px;
	overflow-y:auto;
	overflow-x:hidden
}
.nav .city .citylist .cityf,.nav .city .citylist .province {
	position:relative;
	padding-left:75px;
	min-height:20px
}
.nav .city .citylist .cityf em,.nav .city .citylist .province em {
	position:absolute;
	left:0;
	top:0
}
.nav .city .citylist .cityf a,.nav .city .citylist .province a {
	margin-right:5px
}
.nav .city .citylist .cityf {
	margin-top:5px;
	color:#274962
}
.nav .city .citylist .cityf a {
	color:#274962
}
.nav .city .citylist .province {
	margin-top:5px;
	color:#274962
}
.nav .city .citylist .province a {
	color:#274962
}
.nav .navselect {
	float:left
}
.nav .navselect .ts input.black {
	color:#000
}
.nav .navselect .ts input {
	float:left;
	width:217px;
	height:36px;
	padding:0 3px;
	line-height:36px;
	font-size:16px;
	color:#ccc;
	border:#9ac9f3 solid 2px
}
.nav .navselect .ts input.line,.nav .navselect .ts input.station {
	width:469px
}
.nav .navselect .ts .end {
	border-right:none
}
.nav .navselect .ts span {
	float:left;
	height:40px;
	line-height:40px;
	padding:0 5px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	background:#9ac9f3
}
.nav .navselect .ts a {
	display:inline-block;
	float:left;
	width:95px;
	height:40px;
	line-height:40px;
	font-size:16px;
	color:#fff;
	font-weight:bold;
	background:url(../images/index-sprite.png) 0 -62px;
	text-align:center
}
.nav .navselect .btab li {
	float:left;
	width:67px;
	height:27px;
	margin:1px 5px 0 0;
	line-height:27px;
	background:url(../images/index-sprite.png) 0 -130px;
	color:#fff;
	text-align:center;
	cursor:pointer;
	overflow:hidden;
}
.nav .navselect .btab .search_nav_on {
	height:27px;
	margin-top:0;
	line-height:27px;
	background-position:0 -102px
}
.banner {
	width:960px;
	margin:20px auto 0
}
.titlenav {
	width:960px;
	margin:175px auto 0;
	padding-bottom:5px;
	border-bottom:#d10707 solid 2px;
	color:#333;
	font-size:14px
}
.titlenav a {
	margin:0 5px;
	color:#2887db
}
.wrap {
	width:960px;
	margin:10px auto 0;
	padding-bottom:25px;
	border-bottom:#c9c9c9 solid 1px
}
.wrap .left {
	float:left;
	width:638px
}
.wrap .left .imgshow {
	position:relative;
	height:396px
}
.wrap .left .imgshow .img {
	position:relative
}
.wrap .left .imgshow .img .font {
	position:absolute;
	left:0;
	bottom:0;
	width:98%;
	height:80px;
	padding-left:2%;
	background:rgba(0,0,0,0.5);
	*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#50000000,endColorStr=#50000000);
	font-family:"\5FAE\8F6F\96C5\9ED1"
}
.wrap .left .imgshow .img .font h1 {
	margin-top:10px;
	font-size:24px;
	color:#fff
}
.wrap .left .imgshow .img .font p {
	color:#d6e2d8
}
.wrap .left .imgshow .img img {
	vertical-align:middle
}
.wrap .left .imgshow ul {
	position:absolute;
	left:0;
	bottom:0;
	width:637px;
	height:70px;
	background:#000
}
.wrap .left .imgshow li {
	float:left;
	margin:6px 6px 0 10px
}
.wrap .left .imgshow li a {
	display:inline-block;
	padding:2px
}
.wrap .left .imgshow li img {
	vertical-align:middle
}
.wrap .left .imgshow li a.cur {
	padding:0;
	border:#4997eb solid 2px
}
.wrap .left .leftad {
	float:left;
	margin:10px 10px 0 0
}
.wrap .left .leftad .public {
	width:306px;
	border:#e5e5e5 solid 1px
}
.wrap .left .leftad .public .title {
	position:relative;
	height:35px;
	line-height:35px;
	font-size:16px;
	color:#333;
	font-weight:bold;
	border-bottom:#c0c0c0 solid 2px
}
.wrap .left .leftad .public .title h2 {
	position:absolute;
	padding:0 8px;
	font-size:16px;
	color:#333;
	font-weight:bold;
	border-bottom:#d10707 solid 2px
}
.wrap .left .leftad .public ul {
	padding:0 5px
}
.wrap .left .leftad .public li {
	width:285px;
	height:21px;
	padding:5px;
	border-bottom:#e5e5e5 dotted 1px;
	white-space:nowrap;
	overflow:hidden
}
.wrap .left .leftad .public li span {
	display:inline-block;
	width:15px;
	height:15px;
	margin-right:10px;
	line-height:15px;
	color:#fff;
	background:#c0c0c0;
	text-align:center
}
.wrap .left .leftad .public li .first,.wrap .left .leftad .public li .second,.wrap .left .leftad .public li .third {
	background:#d10707
}
.wrap .left .leftad .public li a {
	color:#2d374b
}
.wrap .left .ad {
	margin:10px 10px 0 0
}
.wrap .left .ad .public {
	width:306px;
	border:#e5e5e5 solid 1px
}
.wrap .left .ad .public .title {
	position:relative;
	height:35px;
	line-height:35px;
	font-size:16px;
	color:#333;
	font-weight:bold;
	border-bottom:#c0c0c0 solid 6px
}
.wrap .left .ad .public .title h2 {
	position:absolute;
	padding:0 8px;
	font-size:16px;
	color:#333;
	font-weight:bold;
	border-bottom:#d10707 solid 6px
}
.wrap .left .ad .public ul {
	padding:0 5px
}
.wrap .left .ad .public li {
	width:285px;
	height:21px;
	padding:5px;
	border-bottom:#e5e5e5 dotted 1px;
	white-space:nowrap;
	overflow:hidden
}
.wrap .left .ad .public li span {
	display:inline-block;
	width:15px;
	height:15px;
	margin-right:10px;
	line-height:15px;
	color:#fff;
	background:#c0c0c0;
	text-align:center
}
.wrap .left .ad .public li .first,.wrap .left .ad .public li .second,.wrap .left .ad .public li .third {
	background:#d10707
}
.wrap .left .ad .public li a {
	color:#2d374b
}
.wrap .left .newlist {
	margin-top:20px
}
.wrap .left .newlist .title {
	position:relative;
	height:27px;
	font-size:16px;
	color:#333;
	font-weight:bold;
	border-bottom:#c0c0c0 solid 6px
}
.wrap .left .newlist .title h2 {
	position:absolute;
	padding-right:2px;
	font-size:16px;
	color:#333;
	font-weight:bold;
	border-bottom:#d10707 solid 6px
}
.wrap .left .newlist .list {
	position:relative;
	margin-top:15px;
	padding:20px 0 0 30px;
	border-left:#b2b2b2 solid 1px
}
.wrap .left .newlist .list .time {
	position:absolute;
	left:-15px;
	top:0;
	width:100px;
	height:28px;
	padding-right:25px;
	background:url(../images/index-sprite.png) 0 -157px;
	color:#fff;
	overflow:hidden;
	text-align:right
}
.wrap .left .newlist .list dl {
	position:relative;
	margin-top:10px;
	padding-bottom:15px;
	color:#878787;
	border-bottom:#dbdbdb dashed 1px
}
.wrap .left .newlist .list dl a {
	color:#494949
}
.wrap .left .newlist .list dl h3 {
	color:#494949;
	font-size:14px;
	font-weight:bold
}
.wrap .left .newlist .list dl .arrow {
	position:absolute;
	left:-38px;
	top:48px;
	display:inline-block;
	width:14px;
	height:15px;
	background:url(../images/index-sprite.png) -54px 0;
	overflow:hidden
}
.wrap .left .newlist .list dl dd {
	float:left;
	width:435px;
	margin-right:15px
}
.wrap .left .newlist .list dl dt {
	float:left;
	width:140px;
}
.wrap .left .newlist .list dl dt img {
	width: 140px;
	height: 100px;
}
.wrap .left .newlist .list dl .date {
	margin-top:5px
}
.wrap .left .newlist .list dl .date i {
	display:inline-block;
	float:left;
	width:14px;
	height:14px;
	margin:3px 8px 0 0;
	background:url(../images/index-sprite.png) -68px 0
}
.wrap .left .info {
	padding:20px 15px;
	background:#f2f2f2;
	width: auto;
}
.wrap .left .info h1 {
	color:#333;
	font-size:16px;
	font-weight:bold;
	text-align:center
}
.wrap .left .info .from {
	display:block;
	padding-bottom:5px;
	border-bottom:#999 dashed 1px;
	text-align:center
}
.wrap .left .info pre img {
	max-width: 608px
}
.wrap .left .info pre {
	width:600px;
	padding:15px 0;
	white-space:normal;
	word-break:break-all;
	word-wrap:break-word
}
.wrap .left .info .dpage {
	margin-top:30px;
	text-align:center
}
.wrap .left .info .dpage .pre,.wrap .left .info .dpage .next {
	width:80px
}
.wrap .left .info .dpage a {
	display:inline-block;
	width:28px;
	height:31px;
	line-height:31px;
	background:#f2f2f2;
	color:#333;
	border:#bcbcbc solid 1px
}
.wrap .left .info .dpage .cur {
	background:#fff;
	border:#797979 solid 1px
}
.wrap .left .attention {
	margin:20px 0;
	padding-top:15px;
	border-top:#ccc dashed 1px
}
.wrap .left .attention .jialeft {
	float:left
}
.wrap .left .attention .jiaright {
	float:right
}
.wrap .left .pagetitle {
	margin:25px 0
}
.wrap .left .pagetitle .pre .prea,.wrap .left .pagetitle .pre .nexta,.wrap .left .pagetitle .next .prea,.wrap .left .pagetitle .next .nexta {
	display:inline-block;
	width:87px;
	height:35px;
	line-height:35px;
	background:url(../images/index-sprite.png) 0 -27px;
	font-size:14px;
	color:#fff;
	text-align:center;
	overflow:hidden
}
.wrap .left .pagetitle .pre {
	float:left
}
.wrap .left .pagetitle .pre .prea {
	float:left;
	margin:0 10px 0 0
}
.wrap .left .pagetitle .pre a {
	float:left;
	margin-top:5px;
	color:#2887db;
	font-size:14px
}
.wrap .left .pagetitle .next {
	float:right
}
.wrap .left .pagetitle .next .nexta {
	float:right;
	margin:0 0 0 10px
}
.wrap .left .pagetitle .next a {
	float:right;
	margin-top:5px;
	color:#2887db;
	font-size:14px
}
.wrap .left .page {
	margin-top:60px;
	text-align:center
}
.wrap .left .page a {
	display:inline-block;
	width:36px;
	height:30px;
	line-height:30px;
	border-radius:3px;
	background:#f2f1ef;
	color:#2e2e2e;
	text-align:center
}
.wrap .left .page a:hover {
	background:#2887db;
	color:#fff;
	text-decoration:none
}
.wrap .left .page .cur {
	background:#2887db;
	color:#fff
}
.wrap .left .page .bgnon {
	background:none;
	cursor:default
}
.wrap .left .page .bgnon:hover {
	background:none;
	color:#2e2e2e
}
.wrap .right {
	float:right;
	width:300px
}
.wrap .right .public {
	width:300px;
	margin-top:15px;
	border:#e5e5e5 solid 1px
}
.wrap .right .public .title {
	position:relative;
	height:35px;
	line-height:35px;
	font-size:16px;
	color:#333;
	font-weight:bold;
	border-bottom:#c0c0c0 solid 2px
}
.wrap .right .public .title h2 {
	position:absolute;
	padding:0 8px;
	font-size:16px;
	color:#333;
	font-weight:bold;
	border-bottom:#d10707 solid 2px
}
.wrap .right .public ul {
	padding:0 5px;
	_padding:0
}
.wrap .right .public li {
	width:285px;
	height:20px;
	padding:8px 5px;
	border-bottom:#e5e5e5 dotted 1px;
	white-space:nowrap;
	overflow:hidden
}
.wrap .right .public li span {
	display:inline-block;
	width:15px;
	height:15px;
	margin-right:10px;
	line-height:15px;
	color:#fff;
	background:#c0c0c0;
	text-align:center
}
.wrap .right .public li .first,.wrap .right .public li .second,.wrap .right .public li .third {
	background:#d10707
}
.wrap .right .public li a {
	color:#2d374b
}
.wrap .right .first {
	margin-top:0
}
.wrap .right .last {
	margin-top:15px
}
.wrap .bus .buspublic {
	padding-bottom:10px;
	border-bottom:#c9c9c9 dotted 1px
}
.wrap .bus .buspublic h2 {
	font-size:14px;
	font-weight:bold
}
.wrap .bus .buspublic .num,.wrap .bus .buspublic .font {
	margin-top:10px
}
.wrap .bus .buspublic span {
	float:left
}
.wrap .bus .buspublic a {
	display:inline-block;
	width:24px;
	height:27px;
	line-height:25px;
	font-weight:bold;
	color:#0066cc;
	background:url(../images/index-sprite.png) 0 0;
	overflow:hidden;
	text-align:center
}
.wrap .bus .nonborder {
	padding:10px 0 0;
	border-bottom:none
}
.wrap .countrybus h2 {
	font-size:14px;
	font-weight:bold
}
.wrap .countrybus .buslist {
	margin-top:10px;
	padding:10px 0;
	border-top:#eaeaea solid 1px;
	border-bottom:#eaeaea solid 1px
}
.wrap .countrybus .buslist a {
	margin:10px 10px 0 0;
	color:#333
}
.link {
	width:960px;
	margin:15px auto 0;
	padding-bottom:10px
}
.link span {
	margin:1px 10px 0 0;
	font-weight:bold
}
.link a {
	color:#898989
}
.link em {
	display:inline-block;
	width:1px;
	height:12px;
	margin:5px 10px 0;
	background:#898989;
	overflow:hidden
}
.footer {
	padding-top:30px;
	height:75px;
	background:#f0f0f0;
	text-align:center;
	color:#919191
}
.footer p {
	margin-bottom:10px
}
.footer a {
	color:#919191
}
.footer em {
	margin:0 5px
}
.btad {
	height: 90px;
	position: fixed;
	_position:absolute;
	_left:0;
	_top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	background: rgba(0,0,0,.5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7B000000,endColorstr=#7B000000);
	zoom: 1;
}
.btad .btimg {
	display: inline-block;
	*width: 950px;
	*margin: 0 auto;
}
.btad span {
	display: block;
	width: 31px;
	height: 31px;
	background: url('../../images/bushide.png');
	_background: url('../../images/bushide.gif');
	position: absolute;
	right: 0px;
	top: -12px;
	_top: 0px;
}
.content .busList a {
	color: #2d374b
}
.info {
	width: 960px;
	margin: 10px auto;
}
.info a {
	color: #535353;
	padding-right: 5px;
}