/*p2p修改专用*/

.topAd {width: 960px;height: 90px;}
.topAd, .baiduAd {}
.main {margin: 0 auto;}
.mainR {width: 302px;}
.cont h1 {font-size: 16px;font-weight: 700px;padding: 21px 0 17px;margin-bottom:13px;}
.cBox {padding: 0 10px 20px 30px;}
.cBox p, .cBox dd {text-indent: 28px;font-size: 14px;line-height: 28px;font-family: '宋体 Regular', '宋体';font-weight: 400;color: rgb(51,51,51);}
.cont h2, .cont h3, .contQt dt {font-size: 14px;	margin: 3px 0 4px;font-family: '宋体 Bold', '宋体';font-weight: 700;}
.leftAdA {width: 638px;	height: 100px;	margin: 0 auto;border-left: 1px solid #e1e1e1;border-right: 1px solid #e1e1e1;}
.leftAdB {width: 640px;	height: 100px;	margin: 18px auto 0;}
.leftAdC {border:  1px solid #aeaeae; width: 640px;height: 90px;margin: 1px auto 26px;}
.leftAdD {margin-top: 27px;}
.clbt{border-top: 0;}
.clbb{border-bottom: 0;margin-bottom: 0;padding-bottom: 10px;}
.contQt_t {font-family: '宋体 Bold', '宋体';font-weight: 700;font-size: 16px;padding-top: 26px;color: #333;}
#bdshare {margin-top: 16px;*zoom:1;*margin:-18px 10px 0;}
.cont4 {*padding-bottom: 20px;}
.cont4 button{margin: 26px 10px;*zoom:1;*margin-top:32px;}
.cont5, .cont6 {padding-left: 10px;padding-bottom: 6px;margin-bottom: 27px;}
.cont6_c dl{margin: 8px 0;}
.cont6_c dd{font-size: 12px;}
.cont5 li{margin-bottom: 9px;}
.cont5 li img {_width:138px;}
.cont5 li p {font-size: 12px;line-height: 20px;text-indent: 0;}
.cont5{margin-bottom: 10px;}
.footAd{width: 950px;height: 90px;margin: 27px 0 12px;}
.info .busList{padding-top: 15px;}
.side2{padding: 0 10px;}
.topAd{margin-bottom: 0;}
.topAd, .baiduAd{background: none;}
.clb{border:0;}
.nav2{line-height: 1;margin: 11px 0;}
.cont{padding-bottom:7px;}
#adhide{top: 3px;right: 3px;}
.side2_c dd{font-size: 12px;text-indent: 0;overflow: hidden;line-height: 20px;white-space: nowrap;text-overflow: ellipsis;}